{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block activepagetwo %} class="active" {% endblock %}
{% block title %}Create | Assets | {{ block.super }}{% endblock title %}
{% block headline %}
<h1><i class="fa fa-tasks"></i> Asset Database</h1>
{% endblock headline %}

{% block content %}
<ul class="nav nav-tabs">
  <li class=""><a href="{% url 'assetdb:list'%} "><i class="fa fa-bookmark"></i> List Assets</a></li>
  <li class="active"><a href="{% url 'assetdb:create'%} ">Create</a></li>
</ul>
	<br>
{% crispy form %}
{% endblock content %}